[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
jsonify = "*"
numpy = "*"
scikit-learn = "*"
gunicorn = "*"
awscli = "*"
plotly = "*"
cufflinks = "*"
streamlit = "*"
matplotlib = "*"
nbformat = "*"
notebook = ">=5.3"
ipywidgets = ">=7.5"
statsmodels = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
